:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #2196f3;
  --dark: #212121;
  --darkfooter: #2f303a;
  --grey: #f5f4fa;
  --darkgrey: #757575;
  --whitetrans: #ffffff99;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-style: normal;
  color: var(--dark);
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul,
p {
  display: flex;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  flex-direction: row;
}
.flex-row {
  flex-direction: row;
  display: flex;
  align-items: baseline;
}

.container-footer {
  /* width: 100%; */
  max-width: 1200px;
  /* padding: 60px 15px; */
  margin-right: 70px;
}
.section {
  padding: 94px 0;
}
.page-header {
  display: flex;
  flex-direction: row;
  gap: 93px;
  padding: 24px 0 25px 0;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 100%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 93px;
}
.address-heading {
  margin-left: auto;
}
.address-link {
  padding-right: 50px;
}
.header-button {
  text-align: center;
  width: 100%;
  max-width: 1600px;
  /* margin: 0 auto dodany zgodnie z zaleceniami, co zmienia? */
  margin: 0 auto;
  padding: 200px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/buttonbackground.jpg);
}

.header-text {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: var(--white);
  width: 700px;
}
.lorem {
  padding-bottom: 94px;
}
.lorem li:not(:last-child) {
  padding-right: 30px;
}
.icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 28px;
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  padding-bottom: 10px;
}
.lorem-paragraph {
  color: var(--darkgrey);
  font-size: 14px;
  line-height: 1.71;
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.photo-csz {
  position: relative;
}
.photo-csz:not(:last-child) {
  padding-right: 30px;
}
.figcaption {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
}
.team {
  background-color: var(--grey);
}
.team-section {
  display: flex;
  direction: row;
  gap: 30px;
}
.team-figure {
  margin: 0;
}
.team-card {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card-describe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  padding: 30px 0 10px;
}
.team-position {
  color: var(--darkgrey);
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
}
.socialicon-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 32px;
}
.socialicon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socialicon-card {
  padding-bottom: 30px;
}
.icon-team {
  fill: #afb1b8;
}

.socialicon:hover .icon-team,
.socialicon:focus .icon-team,
.socialicon:hover,
.socialicon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-link:hover .icon-company,
.company-link:focus .icon-company {
  fill: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-logos-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.company-logos {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.company-logos:hover,
.company-logos:focus {
  border: 1px solid var(--blue);
  fill: var(--blue);
  cursor: pointer;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  line-height: 1.19;
  font-size: 26px;
}

.bluelogo {
  color: var(--blue);
}
.whitelogo {
  color: var(--white);
}

.bluelink,
.bluelink-active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.bluelink {
  color: var(--dark);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bluelink:visited {
  color: var(--dark);
}
.bluelink-active {
  color: var(--blue);
  position: relative;
  height: 100%;
  padding-bottom: 60%;
}
.bluelink-active::after {
  display: block;
  border-bottom: 4px solid var(--blue);
  border-radius: 4px;
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0px;
  left: 0px;
}
.bluelink:hover {
  border-bottom: 4px solid var(--blue);
  padding-bottom: 50%;
}
.header-address {
  color: var(--darkgrey);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  font-weight: 500;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.bluelink:hover,
.bluelink:focus,
.header-address:hover,
.header-address:focus,
.header-address:hover .icon-address,
.header-address:focus .icon-address,
.link:hover,
.link:focus {
  color: var(--blue);
  text-decoration: none;
  fill: var(--blue);
  cursor: pointer;
  transition-property: color, fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-address {
  margin-right: 10px;
}

.button {
  background-color: var(--grey);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-banner {
  height: 50px;
}
.button-active {
  background-color: var(--blue);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}
.button-active-portfolio {
  background-color: var(--blue);
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.portfolio-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
}
.portfolio-photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-element {
  position: relative;
}
.hidden-element-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.hidden-background {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  max-height: 294px;
  font-size: 18px;
  transform: translateY(300px);
  transition: transform 250ms linear;
}
.hidden-text {
  justify-content: center;
  align-items: center;
  padding: 49px 45px 49px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}

.portfolio-element:hover .hidden-background,
.podrtolio-element:focus .hidden-background {
  transform: translateY(0px);
  transition-property: transform;
  transition-duration: 250ms;
}

/* animation-name: change-visibility;
  animation-duration: 3s;
*/
/* animation-name: change-transform;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-direction: backwards;
  animation-fill-mode: none;
}

@keyframes change-transform {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
} */

.portfolio-projects-describe {
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-element:hover,
.podrtolio-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-title {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 24px 4px;
}
.project-type {
  color: var(--darkgrey);
  padding: 0 24px 20px;
}
.buttons-portfolio {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}
.portfolio-projects-describe {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer {
  background-color: var(--darkfooter);
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  padding: 60px 0;
}

.footer-address,
.footer-address p {
  text-decoration: none;
  font-style: normal;
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
}
.footer-address {
  padding-top: 20px;
}
.footer-address li,
.link {
  text-decoration: none;
  color: var(--whitetrans);
}
.footer-contact {
  display: flex;
  flex-direction: column;
}
.header3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.socialmedia-footer {
  display: flex;
  justify-content: left;
  margin-right: 10px;
}
.icon-footer {
  fill: var(--white);
}
.circle-background {
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  margin-top: 20px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 100%;
  transition: opacity 200ms linear, visibility 500ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--white);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-x {
  fill: var(--black);
  justify-content: center;
  align-items: center;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.1);
  transition: opacity 200ms linear, visibility 500ms linear;
}
