// .index-background {
//   text-align: center;
//   width: 100%;
//   max-width: 1200px;
//   /* margin: 0 auto dodany zgodnie z zaleceniami, co zmienia? */
//   margin: 0 auto;
//   padding: 200px 0;
//   gap: 30px;
//   @include flexCenter(column);
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/backgroundmobile1x.jpg);
//   &__text {
//     font-size: 44px;
//     font-weight: 900;
//     line-height: 1.36;
//     color: var(--white);
//     width: 700px;
//   }
// }
.index-background {
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 118px 0;
  gap: 30px;
  @include flexCenter(column);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundmobile1x.jpg);
  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    width: 365px;
    color: var(--white);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .index-background {
    width: 480px;
    height: 400px;
    // background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundmobile2x.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 3),
  (min-resolution: 268dpi),
  (min-resolution: 3dppx) {
  .index-background {
    background-size: contain;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundmobile3x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .index-background {
    background-size: contain;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundtablet1x.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .index-background {
    background-size: contain;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundtablet2x.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3),
  (min-resolution: 268dpi),
  (min-resolution: 3dppx) {
  .index-background {
    background-size: contain;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundtablet3x.jpg);
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .index-background {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgrounddesktop1x.jpg);
    max-width: 1600px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .index-background {
    background-size: contain;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgrounddesktop2x.jpg);
    max-width: 1600px;
    height: 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3),
  (min-resolution: 268dpi),
  (min-resolution: 3dppx) {
  .index-background {
    background-size: contain;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgrounddesktop3x.jpg);
    max-width: 1600px;
    height: 600px;
  }
}
