.index-background {
  text-align: center;
  width: 100%;
  max-width: 1600px;
  /* margin: 0 auto dodany zgodnie z zaleceniami, co zmienia? */
  margin: 0 auto;
  padding: 200px 0;
  gap: 30px;
  @include flexCenter(column); // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/buttonbackground.jpg);
  &__text {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--white);
    width: 700px;
  }
}
