.company-container {
  max-width: 480px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.company-link {
  &__logos {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid getColor("companies&icons");
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus-within {
      @include modalHoverColor;
      .company-link__icon {
        @include modalHoverColor;
      }
    }
  }
  &__icon {
    fill: getColor("companies&icons");
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  .company-container {
    max-width: 768px;
  }
  .company-link__logos {
    width: 226px;
  }
}
