.company-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.company-link {
  flex-basis: calc((100% - 30px) / 2);
  margin: 0 auto;
  &__logos {
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid getColor("companies&icons");
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus-within {
      @include modalHoverColor;
      .company-link__icon {
        @include modalHoverColor;
      }
    }
  }
  &__icon {
    fill: getColor("companies&icons");
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 768px) {
  // .company-container {
  //   max-width: 768px;
  // }
  .company-link {
    // width: 100%;
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company-container {
    flex-wrap: nowrap;
  }
  .company-link__logos {
    width: 170px;
  }
}
