.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--black);
  line-height: 1.19;
  font-size: 26px;
  &--color {
    @extend .logo;
    color: getColor("main-color");
  }
  &--footer {
    @extend .logo;
    color: var(--white);
  }
}
@media screen and (max-width: 1200px) {
  .logo {
    font-size: 24px;
    line-height: 0.72;
  }
}
