.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__label {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: var(--white);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &__input {
    background-color: rgba(0, 0, 0, 0.15);
    width: 358px;
    height: 50px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    max-width: 450px;

    &:placeholder-shown {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__subscribe-button {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__subscribe-icon {
    margin-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .newsletter-container__input {
    width: 450px;
  }
  .flex-center {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-container__input {
    width: 358px;
  }
  .newsletter-container__description {
    align-items: flex-start;
  }
}
