.portfolio-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  &__element {
    position: relative;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }

    &:hover .portfolio-grid__hidden-background,
    &:focus .portfolio-grid__hidden-background {
      transform: translateY(0px);
      transition-property: transform;
      transition-duration: 250ms;
    }
  }
  &__hidden-element-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  &__hidden-background {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    max-height: 294px;
    font-size: 18px;
    transform: translateY(300px);
    transition: transform 250ms linear;
  }
  &__hidden-text {
    justify-content: center;
    align-items: center;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white);
  }
  &__project-title {
    font-size: 18px;
    font-weight: 700;
    padding: 20px 24px 4px;
  }
  &__project-type {
    color: var(--darkgrey);
    padding: 0 24px 20px;
  }
  &__projects-describe {
    border: 1px solid #eeeeee;
    flex-basis: calc((100% - 60px) / 3);
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
