.index-specialities {
  padding-bottom: 94px;
  & li:not(:last-child) {
    padding-right: 30px;
  }
  &__icon {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    background: #f5f4fa;
    border-radius: 4px;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    padding-bottom: 10px;
  }
  &__paragraph {
    color: getColor("secondary-text");
    font-size: 14px;
    line-height: 1.71;
  }
}
