// .team-background {
//   background-color: getColor("buttons&team-background");
// }
// .team-figure {
//   margin: 0;
// }
// .team-section {
//   display: flex;
//   direction: row;
//   gap: 30px;
//   &__card {
//     background-color: var(--white);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//       0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//   }
//   &__describe {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
//   &__name {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     padding: 30px 0 10px;
//   }
//   &__position {
//     color: getColor("secondary-text");
//     font-size: 16px;
//     line-height: 1.18;
//     padding-bottom: 30px;
//   }
//   &__social-icon-list {
//     margin: 0 32px;
//   }
//   &__social-icon-card {
//     padding-bottom: 30px;
//   }
//   &__icon {
//     fill: getColor("companies&icons");
//     transition-property: background-color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

.team-background {
  background-color: getColor("buttons&team-background");
  padding: 94px 0;
}
.team-figure {
  margin: 0;
}
.team-section {
  row-gap: 30px;
  // width: 450px;
  @include flexCenter(row);
  flex-wrap: wrap;

  &__card {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: 100%;
  }
  &__describe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    padding: 30px 0 10px;
  }
  &__position {
    color: getColor("secondary-text");
    font-size: 16px;
    line-height: 1.18;
    padding-bottom: 30px;
  }
  &__social-icon-list {
    margin: 0 32px;
  }
  &__social-icon-card {
    padding-bottom: 30px;
  }
  &__icon {
    fill: getColor("companies&icons");
    transition-property: background-color, fill;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  transition-duration: 250ms;
}

@media screen and (max-width: 1200px) {
  .team-section__social-icon-list {
    justify-content: center;
  }
  .team-section__social-icon-card {
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .team-section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (max-width: 1999px) {
    .team-section__card {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

@media screen and (min-width: 1200px) {
  .team-section {
    max-width: 1200px;
    flex-wrap: nowrap;
  }
  .team-section__card {
    min-width: 240px;
    // flex-basis: calc((100% - 90px) / 4);
  }
  .flex-space-around {
    justify-content: space-around;
  }
}
