h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul,
ol,
p {
  display: flex;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
