// .container {
//   width: 100%;
//   max-width: 1200px;
//   padding: 0 15px;
//   margin: 0 auto;
//   flex-direction: row;
// }
.container {
  margin: 0 15px;
  &--width {
    width: 100%;
    margin: 0 15px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
