// .section {
//   padding: 94px 0;
//   &__heading {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     margin-bottom: 50px;
//   }
// }
.section {
  margin: 60px 0;
  @include flexCenter;
  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  &--header {
    border-bottom: 1px solid #ececec;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    margin: 94px 0;
  }
}
